#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}

/* header */
#header{
   
    background-color: #00FFFF;
    color: black;
    
}

.header-right i {
    font-size: 23px;
    border-radius: 100px;
    margin-right: 18%;
    padding: 10px;
    border: 1px solid black;
    transition: all 0.5s;
}
.header-right i:hover {
        color: red;
        border: 1px solid red;
        cursor: pointer;
    }


.header-left {
    padding-top: 10px;
    color: black;
}
.header-left span{
    font-weight:bold;
}
.header-left .detail{
    text-align:right;
}
/* navibar */

.nav-item a {
    transition: all 0.6s;
}
.navbar-brand--logo p {
    color: #00FFFF;
    font-size: 0.8em;
    margin-top: -5px;
}
.navbar-nav--menu .nav-item .nav-link{
    font-size: 25px;
    font-weight: bold;
    color: red;
    transition: all 0.5s;
    font-family: cursive;
}
.navbar-nav--menu .nav-item:hover>.nav-link{
    color: #00FFFF;
}
.navbar-nav--menu .nav-item:hover>.nav-item__line{
    width: 100%;
}
.navbar-nav--menu .nav-item{

    position: relative;
    display: inline-block;
}
.navbar-nav--menu .nav-item .nav-link__drop{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.navbar-nav--menu .nav-item .nav-link__drop a{
    color: black;
    
    text-decoration: none;
    display: block;
}
.navbar-nav--menu .nav-item .nav-link__drop a:hover{background-color: #ddd;}
.navbar-nav--menu .new_item:hover>.nav-link__drop{display: block;}

.nav-item__line{
    width: 0%;
    height: 2px;
    background-color: #00FFFF;
    transition:all 0.5s;
}
.navbar-nav--menu .active .nav-link{
    color: #00FFFF !important;
}
.navbar-nav--menu .active .nav-item__line{
    width: 100%;
}
.search input{
    border-top: none;
    border-left: none;
    border-right: none;
}
/*carousel*/
.carousel-caption--config{
    bottom: 30%;
}
.carousel-indicators--config{
    bottom: 20%;
}
.btn--read-more:hover{
    background-color: #00FFFF;
    color: white;
    transition: all 0.5s;
}
.btn--read-more{
    border-radius: 0px;
    margin-top: 10px;
}
.carousel-caption--config h1{
    font-size: 3.3em;
    font-weight: normal;
}
.carousel-caption--config p{
    font-size: 1.1em;
    letter-spacing: 4px;
    line-height:  1.8em;
}
.modal-header--carousel-1 h1{
    font-weight: bold;
    color: #00FFFF;
}
.modal-header--carousel-2 h1{
    font-weight: bold;
    color: #00FFFF;
}
.modal-header--carousel-3 h1{
    font-weight: bold;
    color: #00FFFF;
}
@media screen and (max-width:768px){
    .carousel-caption--config{
        bottom: 25%;
    }
    .carousel-indicators--config{
        bottom: 10%;
    }
    .carousel-caption--config h1{
        font-size: 2.2em;
        font-weight: normal;
    }
    .carousel-caption--config p{
        font-size: 1em;
        letter-spacing: 2px;
        line-height:  1.8em;
        margin-bottom: 0%;
    }
}
@media screen and (max-width:576px){
    .carousel-caption--config{
        bottom: 17%;
    }
    .carousel-indicators--config{
        bottom: 0%;
    }
    .carousel-caption--config h1{
        font-size: 1.5em;
        font-weight: normal;
    }
    .carousel-caption--config p{
        font-size: 0.7em;
        letter-spacing: 2px;
        line-height:  1.3em;
        margin-bottom: 1%;
    }
}
/*item css*/
#new_item{
    padding-top: 80px;
}
.best_seller{
    padding-top: 80px;
}
.new_item_title{
    color: #00FFFF;
    font-size: 28px;
    letter-spacing: 2px;
    margin-bottom: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 1);
    padding-bottom: 15px;
    position: relative;
}
.new_item_title::after{
    content: '';
    width: 160px;
    height: 2px;
    background-image: linear-gradient(to bottom right,#000000,#00FFFF);
    position: absolute;
    bottom: -1px;
    left: 0px;
}
.Shoes_item{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.item_detail{
    position: absolute;
    top: 50%;
    transform: translateY(-50%) scale(0.8);
    left: 0;
    width: 100%;
    text-align: center;
    opacity: 0;
    transition: all 0.2s;
}
.item_detail i{
    width: 80px;
    height: 80px;
    font-size: 50px;
    color: yellow;
    border-radius: 50%;
    border: 2px solid red;
    margin: 10px auto;
    line-height: 80px;
}
.item_detail a{
    font-size: 20px;
    letter-spacing: 2px;
    margin-bottom: 15px;
    font-weight: bold;
    color: #00FFFF;
}
.item_detail span{
    font-size: 26px;
    font-weight: bold;
    color:red;
}
.item_overlay{
    position: absolute;
    top: 0;
    left: -100%;
    background: linear-gradient(to bottom, #fbbd61,#333333);
    width: 100%;
    height: 100%;
    transition: all 0.5s;
}
.Shoes_item{
    cursor:pointer;
    border:solid black 1px;
   
}

.Shoes_item:hover .item_overlay {
    left: 0%;
}
.Shoes_item:hover .item_detail{
    opacity: 1;
    transform: translateY(-50%) scale(1);
}
.item_name{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 5px;
}
.item_detail i{
    color:red;
}
.item_detail .btn-add {
    padding: 10px;
    border: solid red 1px;
    background-color: transparent;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.5s;
}
.item_detail .btn-add:hover{
    font-weight:bold;
    background-color:antiquewhite;
}
/* footer */
.footer-detail {
    background-color: #333333;
    padding: 3rem 15px;
}
.footer-detail h2{
    font-size: 1.5em;
    color: #00FFFF;
    font-weight: 500;
    margin-bottom: 20px;
}
.footer-detail p{
    color: white;
}
.footer_about-us p{
    color: white;
    font-size: 19px;
}
.footer_information p i{
    color: #FF33FF;
    margin-right: 8px;
    margin-bottom: 10px;
}
.footer-right i:hover{
    background-color: #FF33FF;
    border: 1px solid black;
}
.footer_contact i{
    width: 50px;
    color: white;
    font-size: 30px;
    margin-left: 10px;
    padding-top: 7px;
    text-align: center;
    height: 50px;
    border: 1px solid #00FFFF;
    border-radius:50px;
}
.copy-right{
    background-color: darkseagreen;
}
.footer_contact i{
    transition:all 0.5s;
    cursor:pointer;
}
.footer_contact i:hover {
    background-color: dimgrey;
}